body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}


header {
  padding: 20px;
}

section {
  padding: 20px;
  width: 370px;
  display: flex;
  margin: 1px; 
  /* background-color: blueviolet; */
}

section.form div{
  padding: 10px 20px;
}

footer {
  padding: 10px 20px;

}

div {
  padding: 0px;
  margin: 0px;
}

div div {
  padding: 20px 0px;
}

.bar-weight {
  margin: auto;
  font-size: xx-large;
  font-family: 'Teko', sans-serif;
  /* width: 40%; */
  /* background-color: blue; */
}

img.barbell {
  max-height: 200px;
  /* border: 1px solid #ffffff; */
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    /* max-height: 100px; */
    overflow: visible;
}

.centerCell {
  text-align: center;
}